.place__link-wrap {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    max-width: 456px;
}

@media screen and (max-width: 768px) {
    .place__link-wrap {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__link-wrap {
        max-width: 288px;
    }


}