.cover__title {
    font-weight: 900;
    font-size: clamp(32px, 10vh, 72px);
    line-height: clamp(35px, 10vh, 76px);
    margin-top: 0;
    margin-bottom: 32px;
    max-width: 560px;
    position: relative;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 720px) {
    .cover__title {
        margin-bottom: 16px;
    }
}