.place__link-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 20.4px;
    color: #AAAAAA;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
    .place__link-label {
        line-height: 12px;
    }
}