.place__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}
@media screen  and (max-width: 920px) {
    .place__description {
        font-size: 16px;
        line-height: 26.08px;
    }
    
}

